/engine
/.idea/inspectionProfiles
/.idea/workspace.xml
/.idea/dictionaries
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/copyright
/.idea/watcherTasks.xml
help-engine-mini.zip
help.engine.version
.DS_Store
.idea/
/.idea/